<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
   .outline {
    width: 300px; height: 300px;
    border: 1px solid red;
    padding: 10px;
   }
    </style>
</head>
<body>
<h3>Новости</h3>
<form method="POST">
    <table>
        <tr>
            <td><b>Поиск</b></td>
            <td><input type="text" name="content_search" ></td>
        </tr>
        <tr>
            <td><input type="submit" value="Найти"</td>
        </tr>
    </table>

</form>
{% block content %}{% endblock %}
</body>
</html>