{% extends "base.html" %}
{% block content %}

{% for post in posts %}
<strong>{{post.header}}</strong>


<div class="outline">
    <p>{{post.content}}</p>
</div>
{% endfor %}
<p>{{itog}}</p>
{% endblock %}
